<% layout("/layouts/boilerplate.ejs") %>


<head>
  <link rel="stylesheet" href="/css/showPage.css">
</head>

<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  
  const listing = <%- JSON.stringify(listing) %>;
</script>

<div class="master-div">      
  <div class="show-page-card">
    <p class="listing-name"><%= listing.title %></p>
    <img src="<%= listing.image.url %>" class="show-page-card-img" alt="...">

    <div class="content-div">
      <p class="listing-owner-name"><i>Hosted by <%= listing.owner.username %></i></p>
      <p class="listing-description"><%= listing.description %></p>
      <p class="listing-price">&#8377; <%= listing.price%> night</p>
      <div class="location-country-div">
        <p class="listing-location"><%= listing.location %>,</p>
        <p class="listing-country"><%= listing.country %></p>
      </div>
      <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
        <div class="buttons-div">
          <a href="/listings/<%= listing._id%>/edit" class="btn btn-primary">Edit</a>
          <a href="/listings/<%= listing._id %>/delete" class="btn btn-primary">Delete</a>
        </div>
      <% } %>
    </div>
  </div>
       
      

  <% if(currUser){ %>
    <div class="show-page-review-div">  
      <p class="review-title">Leave a Review</p>
      <form action="/listings/<%= listing._id %>/reviews"  method="post"  class="needs-validation mb-3" novalidate>
        <div class="">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mt-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
          <div class="valid-feedback">This will help us to improve</div>
          <div class="invalid-feedback">Comment should not be empty</div>
        </div>
        <button class="btn btn-outline-info mt-3">Submit</button>
      </form>
    <% } %>
    
      
    <% if(listing.reviews.length) { %>
        <p class="all-review-title">All reviews</p>
        <div class="all-review-div">
          <% for(review of listing.reviews){ %>
            <div class="review-div">
                <p class="card-text"><b>@<%= review.author.username %></b></p>
                <p class="starability-result" data-rating="<%= review.rating %>"></p>
                <p class="card-text"><%= review.comment %></p>
              <% if(currUser && currUser._id.equals(review.author._id)){ %>
                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=delete" class="mb-3" method="post">
                  <button class="btn btn-danger btn-sm">Delete</button>
                </form>
              <% } %>
            </div>
          <% } %>
        </div>
    <% } %>
    </div>

    <div class="map-div">
      <p class="map-title">Where you'll be</p>
      <div id="map"></div>
    </div>

</div>
<script src="/js/map.js"></script>
